.container{
    border-radius: 5%;
    background-color: lightslategray;
    height: 300px;
    width: 25%;
    text-align: center;
    margin: auto;
    margin-top: 13%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.link{
    margin-top: 10%;
}