.address{
    position: absolute;
    top: 200px;
    left: 20%;
    text-align: center;
}

.contactForm{
    position: absolute;
    top: 550px;
    left: calc(50% - 250px);
}



#googleMap{
    left: 55%;
    top: 110px;
}

.contactForm textarea{
    max-width: 500px;
    position: relative;
}

.textEnhance{
    font-size: xx-large;
    position: absolute;
    left: calc(50% - 191.5px);
    top: 480px;
}



