.photoaccueil {
    margin-top: 80px;
    height: auto;
    width: 100%;
}
.arrow{
    height: auto;
    width: 4%;
    opacity: 0.2;
}

.entreprise {
    min-height: 60%;
    margin-left: 3%;
    max-width: 40%;
    flex-direction: row;
}

.textedescription {
    margin-left: 3%;
    margin-right: 3%;
}

.description {
    display: flex;
}

.textform {
    margin-left:37%;
}