.mail,.infoPers,.mdp{
    display: none;
    width: 45%;
    position: relative;
    left: 19%;  }

body{
    text-align: center
}
#infoTitle,#mdpTitle,#mailTitle{
    display: inline;
    cursor: pointer;

}

.form{
    width: 45%;
    position: relative;
    left: 19%;
    margin: 10px;
}

.container{
    position: relative;
    top:25%;
}



