.info{
    /*position: relative;
    top: 80px;
    text-align: center;*/
}
.container1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    left: 15%;
}


.box,
.btn{
    position :center;
}