.mail{
    display: none

}
.infoPers{
    display: none
}
.mdp{
    display: none
}

body{
    text-align: center
}
#infoTitle,#mdpTitle,#mailTitle{
    display: inline;
    cursor: pointer;

}

.infoPers,
.mail,
.mdp{
    width: 45%;
    position: relative;
    left: 19%;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column-reverse;
}




