body{
   background-color: #F3E4BB;
}

.notFound{
    text-align: center;
    width:55%;
    margin-left: 23%;
    margin-top: 60px;
}

.oups{
    height:auto;
    width:100%;
}

a{
    text-decoration: none;
    color: black;
}