body{
    background-image: url(404.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.page-title{
    text-align: center;
    margin-top: 6%;
}

.returnHP{
    text-align: center;
    margin-top: 30%;
}