body{
    font-family: 'Roboto', sans-serif; /*Website font*/
    margin: 0;
}


.btn{
    background-color: lightgray;
    text-align: center;
    border: 0;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    opacity: 0.7;
}

.btn:hover{
    padding-left: 25px;
    padding-right: 25px;
    transition-duration: 0.4s;
    opacity: 1;
}

form{
    text-align: center;
}

input{
    margin-top: 2%;
}