body,
footer{
    font-family: 'Roboto', sans-serif; /*Website font*/
    margin: 0;
}

.btn{
    background-color: lightgray;
    text-align: center;
    border: 0;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    opacity: 0.7;
}

.btn:hover{
    padding-left: 25px;
    padding-right: 25px;
    transition-duration: 0.4s;
    opacity: 1;
}

form{
    text-align: center;
}

.hk-text{
    font-size: 15px;
    text-align: center;
    color: rgb(122, 135, 144);
    font-family: Georgia,"Roboto",Times,serif;
}

.hk-title,
.hk-title-2{
    color: #000000;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; /*Website font*/
}

.hk-title{
    font-size: 20px;
}

.hk-title-2{
    font-size: 18px;

}

.hk-notice{
    font-size: 14px;
    font-style: italic;
    font-family: Georgia,"Roboto",Times,serif;
}
.notice-message{
    background-color: rgb(217, 237, 247);
    border-bottom-color: rgb(188, 232, 241);
    border-left-color: rgb(188, 232, 241);
    border-right-color: rgb(188, 232, 241);
    border-top-color: rgb(188, 232, 241);
    color: rgb(49, 112, 143);
}


.success-message{
    background-color: rgb(223, 240, 216);
    border-bottom-color: rgb(208, 233, 198);
    border-left-color: rgb(208, 233, 198);
    border-right-color: rgb(208, 233, 198);
    border-top-color: rgb(208, 233, 198);
    color: rgb(80, 138, 84);
}

.information-message{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}

.error-message{
    background-color: rgb(242, 222, 222);
    border-bottom-color: rgb(235, 204, 204);
    color: rgb(169, 68, 66);
    border-top-color: rgb(235, 204, 204);
    border-right-color: rgb(235, 204, 204);
    border-left-color: rgb(235, 204, 204);
}

.error{
    margin-top : 5%;
}

body{
    background-color: #FBFCFC;
}

.hk-block{
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    border-radius: 8px;
    width: 95%;
    margin-top:3%;
    margin-bottom: 3%;
}

.hk-block-margin{
    margin-top:20%;
}

.hk-centered-block{
    margin-top : 12.5%;
    padding: 10px 20px;
    border-radius: 8px;
    width: 95%;
    margin-left:1.5%;
    margin-bottom: 3%;
}



.oups{
    height:auto;
    width:100%;
}

.not-found-body{
    background-color: #F3E4BB;
}


.notFound{
    text-align: center;
    width:55%;
    margin-left: 23%;
    margin-top: 60px;
}







.logo{
    width: 22%;
    height: auto;
    left: 0;
    top: 5px;

}

.container{
    position: relative;
    margin-top: 1%;
}

.table{
    position:relative;
    left:25%;
    width: 50%;
    margin-bottom: 1rem;
    border-color: grey;
    border-collapse: collapse;
    display: table;


}

.cell{
    border-top: 1px solid rgba(201,207,208,0.75);
    border-bottom: 1px solid rgba(201,207,208,0.75);
    background-color: rgba(232,238,239,0.55);
    padding: 0.55rem;
}

.title-cell{
    border-bottom: 2px solid rgba(201,207,208,0.75);
    border-left : 1px solid rgba(201,207,208,0.75);
    border-right : 1px solid rgba(201,207,208,0.75);
    background-color: rgba(232,238,239,0.75);
}

/* HEADER */
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    background-color: #222222;
    z-index: 999;
}

.menu{
    text-align: right;
}

.menu a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    padding: 0 20px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
}

.menu a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}

nav > ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin: 0;
    padding: 0;
}
/* Submenus */
.submenu{
    display: none;
    list-style-type: none;
    background-color: #222222;
    padding-left: 0;
}
li:hover ul.submenu{
    display: block;
    position: absolute;
}

/* Line height modified for better design */
ul.submenu > li{
    line-height: 45px;
    height: 45px;
    border: 1px solid lightgray;
}

ul.submenu > a{
    display: none;
}

.logo{
    margin-right: 100px;
    width: 75px;
}

li{
    height: 80px;
}



/* Footer */
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

#modal{
    position: fixed;
    height: 300px;
    width: 200px;
    z-index: 9999;
    background-color: #f4f7f8;
    border: 1px solid gray;
    border-radius: 10px;
    display: none;
    padding: 20px;
    text-align: center;
}

.close{
    position: absolute;
    top: -1.5%;
    right: -2%;
    cursor: pointer;
    border-radius: 100%;
    background-color: white;
}

.toggleEffectors, .toggleSensors{
    cursor: pointer;
}

.margin-block-30{
    margin-top: 30%;
    display: block;
}
.margin-block-5{
    margin-top: 5%;
    display: block;
}

.margin-block-10{
    margin-top: 10%;
    display: block;
}