body,
footer{
    font-family: 'Roboto', sans-serif; /*Website font*/
    margin: 0;
}

.btn{
    background-color: lightgray;
    text-align: center;
    border: 0;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    opacity: 0.7;
}

.btn:hover{
    padding-left: 25px;
    padding-right: 25px;
    transition-duration: 0.4s;
    opacity: 1;
}

form{
    text-align: center;
}

.hk-text{
    font-size: 15px;
    text-align: center;
    color: rgb(122, 135, 144);
    font-family: Georgia,"Roboto",Times,serif;
}

.hk-title{

    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; /*Website font*/
}

.hk-notice{
    font-size: 14px;
    font-style: italic;
    font-family: Georgia,"Roboto",Times,serif;
}
.notice-message{
    background-color: rgb(217, 237, 247);
    border-bottom-color: rgb(188, 232, 241);
    border-left-color: rgb(188, 232, 241);
    border-right-color: rgb(188, 232, 241);
    border-top-color: rgb(188, 232, 241);
    color: rgb(49, 112, 143);
}


.success-message{
    background-color: rgb(223, 240, 216);
    border-bottom-color: rgb(208, 233, 198);
    border-left-color: rgb(208, 233, 198);
    border-right-color: rgb(208, 233, 198);
    border-top-color: rgb(208, 233, 198);
    color: rgb(80, 138, 84);
}

.information-message{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}

.error-message{
    background-color: rgb(242, 222, 222);
    border-bottom-color: rgb(235, 204, 204);
    color: rgb(169, 68, 66);
    border-top-color: rgb(235, 204, 204);
    border-right-color: rgb(235, 204, 204);
    border-left-color: rgb(235, 204, 204);
}

.error{
    margin-top : 5%;
}