.logo{
    width: 22%;
    height: auto;
    left: 0;
    top: 0;
    display: none;
}
/* HEADER */
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    background-color: #222222;
    z-index: 999;
}

.menu{
    text-align: right;
}

.menu a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    padding: 0 20px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
}

.menu a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}

nav > ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin: 0;
    padding: 0;
}
 /* Submenus */
.submenu{
    display: none;
    list-style-type: none;
    background-color: #222222;
    padding-left: 0;
}
li:hover ul.submenu{
    display: block;
    position: absolute;
}

/* Line height modified for better design */
ul.submenu > li{
    line-height: 50px;
    border: 1px solid lightgray;
}

ul.submenu > a{
    display: none;
}