#modal{
    position: fixed;
    height: 200px;
    width: 200px;
    z-index: 9999;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    display: none;
    padding: 20px;
    text-align: center;
}

.close{
    position: absolute;
    top: -1.5%;
    right: -2%;
    cursor: pointer;
    border-radius: 100%;
    background-color: white;
}