.home {
    top: 200px;
    left: calc(50% - 20px);
    position: absolute;
    font-size: 150px;

}

.iconHome{
    background-color: lightgray;
    border-radius: 100%;
    padding: 10px;
    color: black;

}


.btn-size{
    height: 80px;
    width: 80px;
    top: 9%;
    left: 10%;
    position: relative;
    text-align: center;
}

.rooms{
    top: 450px;
    position: absolute;
    color: black;
    font-size: 70px;
    width: 100%;
    text-align: center;

}

.iconBed{
    background-color: lightgray;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}

.iconKitchen{
    background-color: lightgray;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}

.iconBath{
    background-color: lightgray;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}

.iconSofa{
    background-color: lightgray;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}