body{
    background-color: lightgray;
}
.home {
    top: 150px;
    left: calc(50% - 100px);
    position: absolute;
    font-size: 150px;

}

.iconHome{
    background-color: #0653A0;
    border-radius: 100%;
    padding: 10px;
    color: black;

}


.btn-size{
    height: 80px;
    width: 80px;
    top: 9%;
    left: 10%;
    position: relative;
    text-align: center;
}

.rooms{
    top: 350px;
    position: absolute;
    color: black;
    font-size: 70px;
    width: 100%;
    text-align: center;

}

.iconBed{
    background-color: #FFBC42;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}

.iconKitchen{
    background-color: #FB3640;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}

.iconBath{
    background-color: #BFDBF7;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}

.iconSofa{
    background-color: #F2F3AE;
    border-radius: 100%;
    padding: 20px;
    width:70px;
    height:70px;
    margin-right: 50px;
}

.child{
    top: 500px;
    position: absolute;
    color: black;
    font-size: 70px;
    width: 100%;
    text-align: center;
    display: none;
    margin-left: 25%;
}

.circle{
    margin:10px;
    width:100px;
    background:#FFBC42;
    height:100px;
    font-size: 20px;
    text-align:center;
    border-radius:100px;
    line-height: 90px;
}