.home {
    top: 200px;
    left: 50%;
    position: absolute;
    color: #62bcda;
    font-size: 100px;

}

.iconHome{
    background-color: lightgray;
    border-radius: 100%;
    padding: 10px;
}

.btn-size{
    height: 80px;
    width: 80px;
    top: 9%;
    left: 10%;
    position: relative;
    text-align: center;
}

.rooms{
    top: 400px;
    position: absolute;
    color: #62bcda;
    font-size: 70px;

}

