.container
{
    margin-top : 90px;
}

.btn{
    margin: 1%;
}

.btn:hover{
    margin:1%;
}

.user-display{
    position:relative;
    left:25%;
    width: 50%;
    margin-bottom: 1rem;

}
table {
    display: table;
    border-color: grey;
    border-collapse: collapse;
}

.user-display-cell{
    border-top: 1px solid rgba(201,207,208,0.75);
    border-bottom: 1px solid rgba(201,207,208,0.75);
    background-color: rgba(232,238,239,0.55);
    padding: 0.55rem;
}

.title-cell{
    border-bottom: 2px solid rgba(201,207,208,0.75);
    border-left : 1px solid rgba(201,207,208,0.75);
    border-rigth : 1px solid rgba(201,207,208,0.75);
    background-color: rgba(232,238,239,0.75);
}


