
.drop{
    position: relative;
    background: #f4f7f8;
    border-radius: 4px;
    margin-bottom: 10px;
}

.formstat{
    width: 100%;
    display: flex;
}

input[type="text"],
select
{
    background-color: #e8eeef;
    border:none;
    border-radius: 4px;
    font-family: Georgia, "Roboto", Times, serif;
    font-size: 15px;
    color:#49545e;
    margin: 1%;
}

#fromDate,
#toDate{
    width: 10%;
}

#homeId,
#roomId{
    width: 20%;
}

.information-message{
    height: 10%;
    line-height: 15px;
    padding-top: 5px;
    margin-bottom:0px;
}

.btn{
    background-color: lightgray;
    text-decoration: none;
    text-align: center;
    border: 0;
    font-size: 15px;
    padding: 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    opacity: 0.7;
    margin: 8px;
    height: 18px;

}



.btn:hover{
    padding-left: 25px;
    padding-right: 25px;
    transition-duration: 0.4s;
    opacity: 1;
    margin:8px;
}


.bar{
    fill: steelblue;
}