

.mail,.infoPers,.mdp{
    display: none;
    width: 50%;
    position: relative;
    left: 25%;
}
#infoTitle,#passwordTitle,#mailTitle {
    display: inline;
    cursor: pointer;
}

#passwordTitle{
    margin: 0;
}

body{
    text-align: center
}

.container{
    position: relative;
    top:calc(50% - 125px);
}



