<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="../../rooting.php">
</head>
<body>
<div class="sphere_scale">
    <div class="container">
        <ul class="sphere">
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
            <li class="anneau"></li>
        </ul>
    </div>
</div>
</body>
</html>